.hocBoard {
    padding-top: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Board {
    margin: 0px auto;
    width: 50vw;
    height: 68vh;
    /* min-width: 40vw;
    min-height: 60vh; */
    max-width: 730px;
    max-height: 730px;
}

.Square {
    width: 14%;
    height: 14%;
    float: left;
}

.Ball {
    padding-left: 4px;
    width: 80%;
    height: 80%;
    border: none;
    margin: 0 auto;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 376px) {
    .Board {
        /* margin: 0px auto; */
        width: 101vw;
        height: 50vh;
        overflow-x: hidden;
        overflow: hidden;
    }
    .Ball {
        padding-left: 0px;
        width: 80%;
        height: 80%;
        border: none;
        margin: 0 auto;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}